* {
    margin: 0;
    padding: 0;
}

.container {
    width: 800px;
    height: 2000px;
    margin: 0 auto;
}

.container p {
    font-size: 18px;
    line-height: 26px;
}

.header {
    height: 50px;
    width: 800px;
    background-color: pink;
    transition: height 1s, background-color 1s, transform 1s;
}
.header__open {
    background-color: red;
    height: 70vh;
    transform: skew(15deg, 15deg);
}

.items {
    list-style: none;
}

.items__active {
    transform: translateX(-600px);
}

.items .item {
    transition: all 0.5s;
}

.items .item__odd {
    background-color: #35ac1e;
    color: #fff;
    padding: 5px 10px;
    margin: 0 auto 20px;
    width: 120px;
}

.items .item__odd-active {
    transform: translateX(600px);
}

.items .item__even {
    border: 1px solid #b1b1b1;
    padding: 5px 10px;
    margin: 0 auto 20px;
    width: 120px;
}

.items .item__even-active {
    transform: translateX(-600px);
}

